{% set stress = salt['grains.filter_by']({
    'Debian': {
        'package': 'stress-ng',
        'install_from_source':False
    },
    'RedHat': {
        'package': 'stress',
        'install_from_source': False
    },
}, grain='os_family', merge=salt['pillar.get']('stress:lookup'), default='Debian') %}