{% set install_stressng = salt['grains.filter_by']({
    'Debian': {
        'package': 'stress-ng',
        'prereq_packages': ['gcc','make'],
        'install_from_source': False
    },
    'RedHat': {
        'package': 'stress-ng',
        'prereq_packages': ['gcc','make'],
        'install_from_source': False
    },    
    'common': {
        'stressng_source_url':  "http://kernel.ubuntu.com/~cking/tarballs/stress-ng/stress-ng-0.09.23.tar.xz"
    }

}, grain='os_family', merge=salt['pillar.get']('stress:lookup'), default='Debian', base='common')%}

{% set exec_stressng = salt['grains.filter_by']({
    'Debian': {
    },
    'RedHat': {
    },    
    'common': {
        'stressng_path': '/usr/bin/stress-ng',
        'cmd_cli_args': '--timeout 10s',
        'job_file': 'salt://stressng/files/examplejob.stress',
        'out_dir' : /tmp/outputdata
    }

}, grain='os_family', merge=salt['pillar.get']('execute:lookup'), default='Debian', base='common')%}

